include ../dropdown/dropdown.pug

mixin date-filter([text_placeholder])
  label.date-filter
    input.date-filter__input.js-date-filter__input(placeholder=text_placeholder)

mixin date-range([first_date, last_date, form_elements])
  if form_elements 
    .date-range.js-date-range
      .date-range__first-date
        h3.date-range__first-date-title date Dropdown
        label.date-range__label
          input.date-range__date-in.js-date-range__date-in(type="text" placeholder=first_date)
      .date-range__last-date  
        h3.date-range__last-date-title date Dropdown  
        label.date-range__label
          input.date-range__date-out.js-date-range__date-out(type="text" placeholder=last_date)
  else 
    .date-range.js-date-range
      .date-range__first-date
        h3.first-date__title прибытие
        label.date-range__label
          input.date-range__date-in.js-date-range__date-in(type="text" placeholder=first_date)
      .date-range__last-date 
        h3.last-date__title выезд
        label.date-range__label
          input.date-range__date-out.js-date-range__date-out(type="text" placeholder=last_date)
  
  