include ../navigation-link/navigation-link.pug
include ../button/button.pug
include ../burger-menu/burger-menu.pug

mixin header(options)
  -
    options = options || {};
    defaultMenu = [
      {text: "О нас", href: "/about", active: true},
      {text: "Услуги", href: "not_filled", dropdownItems: [
        {text: "Подбор жлья", href: "not_filled"},
        {text: "Размщение", href: "not_filled"},
      ]},
      {text: "Вакансии", href: "not_filled"},
      {text: "Новости", href: "/news"},
      {text: "Соглашения", href: "not_filled", dropdownItems: [
        {text: "Для арендодателя", href: "not_filled"},
        {text: "Для арендатора", href: "not_filled"},
      ]},
    ]
    menu = options.menu || defaultMenu;
    valueLogin = options.login || "no-login";
    userLogin = (valueLogin !== "no-login") ? options.userLogin : "Константин Константинопольский";
    buttonSingIn = options.singIn || {text: "войти", class:"header-white", href: "login.html"};
    buttonSingUp = options.singUp || {text: "зарегистрироваться", class:"header-standard", href: "registration.html"};
    
  .header
    .header__logo 
      .header__image-logo 
        img(src=require("../../../components/header/image/header-logo.jpg") alt="излбражение логотипа")
      .header__text-logo 
        img(src=require("../../../components/header/image/TOXIN.jpg") alt="название компании TOXIN")
    nav.header__navigation
      .header__navigation-link
        each val in menu
          +navigation-link(val)
      .header__login-block
      if valueLogin == "no-login"
        .header__button-login
          a.header__button-sing-in(href=buttonSingIn.href)
            +button([buttonSingIn.class, buttonSingIn.text])
          a.header__button-sing-up(href=buttonSingUp.href)
            +button([buttonSingUp.class, buttonSingUp.text])
      else 
        .header__nick-name
          p.header__text-nick-name=userLogin
    .header__burger-menu
      +burger-menu()