include ../rate-button/rate-button.pug

mixin image-slider(...images)
  .js-container__img-slider
    each image in images
      .js-image-slider__photo-room.image-slider__fade
        img(src=require('../../../images/slider/' + image))
    a.js-image-slider__prev 
      span.image-slider__arrow-left navigate_before
    a.js-image-slider__next
      span.image-slider__arrow-right navigate_before
    div.image-slider__dots
      span(class="js-image-slider__dot" data-index="1")
      span(class="js-image-slider__dot" data-index="2")
      span(class="js-image-slider__dot" data-index="3")
      span(class="js-image-slider__dot" data-index="4")

mixin room-card([number, price, luxury, rate, revew, image0, image1, image2, image3])
  .container-room-card 
    .room-card__slider 
      +image-slider(image0, image1, image2, image3)
    .room-card__description 
      .room-card__room-number
        h3 № 
        h3= number
        p.room-card__luxury=luxury
      .room-card__price
        p
          |
          span.room-card__price-per-day=price 
          |
          | в сутки
      .room-card__rate 
        +rate-button(rate)
      .room-card__revew
        p
          |
          span.room-card__count-revewers=revew 
          |
          | Отзывов