include ../rate-button/rate-button.pug

mixin image-slider(...images)
  .image-slider.js-image-slider
    each image in images
      .image-slider__photo-room.js-image-slider__photo-room.image-slider__fade
        img.image-slider__image-room(src=require("../../../images/slider/" + image))
    a.image-slider__prev.js-image-slider__prev 
      span.image-slider__arrow-left navigate_before
    a.image-slider__next.js-image-slider__next
      span.image-slider__arrow-right navigate_before
    div.image-slider__dots
      span(class="image-slider__dot js-image-slider__dot" data-index="1")
      span(class="image-slider__dot js-image-slider__dot" data-index="2")
      span(class="image-slider__dot js-image-slider__dot" data-index="3")
      span(class="image-slider__dot js-image-slider__dot" data-index="4")

mixin room-card([number, price, luxury, rate, review, image0, image1, image2, image3])
  article.room-card 
    .room-card__slider 
      +image-slider(image0, image1, image2, image3)
    .room-card__description 
      .room-card__room-number
        h3.room-card__symbol-number № 
        h3.room-card__value-number= number
        p.room-card__luxury=luxury
      .room-card__price
        p.room-card__text-price
          span.room-card__price-per-day=price 
          |
          | в сутки
      .room-card__rate 
        +rate-button(rate)
      p.room-card__review
        |
        span.room-card__count-reviewers=review 
        |
        | Отзывов